body {
  font-family: 'Raleway';
}

img {
  width: 100%;
}

.main-container {
  max-width: 65%;
  margin: auto;
}

section {
  border: 2px;
  border-bottom-style: solid;
  border-bottom-color: #1F9446;
  padding-bottom: 15px;
}

span {
  font-weight: bold;
}

li {
  margin-bottom: 8px;
}

li:before {
 color: #1F9446;
 content: "■  ";
}

h4 {
  margin-bottom: 9px;
}

ul {
 list-style: none;
 margin: 0px;
 padding-left: 20px;
}

p {
  margin: 0px;
  margin-bottom: 6px;
}
